body {
    background-image: url('../img/sun.jpg');
    opacity: 0.9;
    background-attachment: fixed; /* force image to stay put */
}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    opacity: 0.995;
    filter: alpha(opacity=99.50); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
